.logo {
	width: 100px;
	height: 44px;
	margin-left: 5px;
	padding: 0px 20px 0px 5px;
}

.logo-bg {
	background-image: url('img/strut-logo-32-black.png');
	background-position:center center;
	background-repeat:no-repeat;
	display: inline-block;
	width: 100px;
	height: 44px;
}

.logo-holder {
	/*margin-top: 5px;*/
	margin-left: -6px;
}

.logo:hover {
	background-position: 5px 0;
}

.logo-group .logo .caret {
	position: absolute;
	right: 6px;
	top: 5px;
}

.logo-holder .dropdown-menu .label {
	position: absolute;
	right: 5px;
}