.rightmenu{
	border-radius: 6px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 120px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

#rightMenu ul li a:hover {
	background: #0088cc;
}

#rightMenu ul li a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	width: 120;
	height: 25px;
	border: 1px solid #fff;
	border-width: 1px 1px 0 0;
	font-size: 11px;
}

.lineSpacing ul li a:hover {
	background: #0088cc;
}

.lineSpacing ul li a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	width: 120;
	height: 25px;
	border: 1px solid #fff;
	border-width: 1px 1px 0 0;
	font-size: 11px;
}
.adjustOpacity p label{
	display: inline;
}
