.component .label {
	visibility: hidden;
	background: none;
	font-size: 100px;
	color: rgba(255, 255, 255, .7);
	text-shadow: 0 0 .2em rgba(50, 50, 50, .7) !important;
}

.component.textBox li {
	line-height: 3em;
}

.component .label {
	font-size: 25px;
}

.component .positioningCtrls .label {
	font-size: 30px;
	margin-right: -10px;
}

.component input {
	visibility: hidden;
}

.component .content-scale {
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
}

.component .content {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	word-wrap:break-word;
	/*white-space: pre-wrap;*/
}

.component .content-scale:not(.svg) {
	display: inline-block;
}

.component .content:not(.svg) {
	display: inline-block;
}

.component.ui-selected .label {
	visibility: visible;
}

.component tr{
    !important min-height: 15px;
}

.component .removeBtn {
	z-index: 100;
}

.component.ui-selected input {
	visibility: visible;
}

.component .downLabel {
	position: absolute;
	left: 10%;
	top: 100%;
}

.component .downLabel .skewx {
	cursor: w-resize;
}

.component .topLabel .rotates {
	cursor: w-resize;
}

.component .leftLabel {
	position: absolute;
	left: -45px;
	top: 60%;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

.component .leftLabel .skewy {
	cursor: s-resize;
}

.component .scale {
	position: absolute;
	right: -35px;
	bottom: -25px;
	cursor: se-resize;
	font-size: 25px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.component .topLabel {
	position: absolute;
	left: 50%;
	top: -22px;
	cursor: -resize;
}

.component .rightLabel {
	position: absolute;
	right: -21.5px;
	top: 40%;
	cursor: e-resize;
}

.component .positioningCtrls {
	position: absolute;
	bottom: -35px;
	font-size: 18px;
}

.component input {
	width: 25px;
	height: 12px;
	line-height: 12px;
}

.component {
	position: absolute;
	line-height: normal;
	/*padding: 2px;*/
	cursor: pointer;
	margin: 0px;
	min-height: 25px;
	min-width: 25px;
}

.component {
	-moz-user-select: none;
	-webkit-user-select: none;
}

.component .content {
  outline: none;
}

.component.ui-selecting .content,
.component.ui-selected .content {
  outline: 2px dashed black;
  outline-offset: 1px;
}

.component.transitionSlideSnapshot > .content {
	outline: none;
	outline-offset: 0px;
}


.component.transitionSlideSnapshot .slideDrawer {
	outline: none;
	outline-offset: 0px;
}

/** Firefox outline bug fix */
.component.transitionSlideSnapshot.ui-selecting:before,
.component.transitionSlideSnapshot.ui-selected:before {
    content: '';
    margin: 0; padding: 0;
    position: absolute; z-index: -1;
    top: 0; left: 0;
    width: 100%; height: 100%;
    outline: 1px dashed black;
}

.component.transitionSlideSnapshot .content {
	outline: 0px;
}

.component.editable .content {
	cursor: auto;
  	outline: 0px;
  	outline: 2px solid rgb(245, 186, 62);
	-moz-user-select: text;
	-webkit-user-select: text;
}

.component.dragged:hover {
  cursor: move;
}

.component .close-btn-red-20 {
	display: none;
	position: absolute;
	top: -10px;
	left: -10px;
}

.component:hover .close-btn-red-20 {
	display: inline;
}

.component .shape-color-picker {
	background: #000;
	visibility: hidden;
	position: absolute;
	right: -60px;
	top: 0px;
}

.component.ui-selected .shape-color-picker {
	visibility: visible;
}
