.slideSnapshot {
	box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, 0.5);
	position: relative;
}

.slideSnapshot:hover {
	box-shadow:inset 0 0 10px #000000;
}

.slideSnapshot .close-btn-red-20 {
	display: none;
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: 2;
}

.slideSnapshot:hover .close-btn-red-20 {
	display: inline;
}

.slideSnapshot .badge {
	/*-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);*/
	position: absolute;
	bottom: -7px;
	left: -7px;
}

.slideSnapshot {
	border: 2px solid grey;
}
.slidePlaceholder {
    border: 2px dashed grey;
}

.slideSnapshot.ui-selected, .slideSnapshot.active {
	box-shadow:inset 0 0 10px #000000;
}
.slideSnapshot.ui-selected {
    border: 2px dotted rgb(245, 186, 62);
}
.slideSnapshot.active {
    border: 2px solid rgb(245, 186, 62);
}

.slideDrawer {
	word-wrap: break-word;
	/*white-space: pre-wrap;*/
}

.slideSnapshot > .overlay {
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	z-index: 1;
}

.slideDrawer {
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	position: relative;
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.slideDrawer .transformContainer {
-webkit-transform-origin: 0 0;
-moz-transform-origin: 0 0;
transform-origin: 0 0;
}

.slideDrawer .componentContainer {
position: absolute;
line-height: normal;
}

.slideDrawer .componentContainer li{
line-height: 3em;
}