.slideWell {
	width: 149px;
	/*background: white;*/
	/*border-right: 2px groove #333;*/
	/*position: absolute;*/
	/*height: 768px;*/
	left: 0px;
	/*top: 56px;*/
	bottom: 0px;
	/*padding-bottom: 45px;*/
	background-image: url('img/linen-gray.png');
	z-index:2;
	 float: left;
    /*-ms-overflow-y: auto;*/
    /*overflow-y: auto;*/
    /*width: 15%;*/
    position: relative;
    /*margin-right: 1%;*/
}

.slideWell .slideSnapshot, .slideWell .slidePlaceholder {
	width: 120px;
	height: 90px;
	margin: 0 auto;
	margin-top: 20px;
	cursor: pointer;
}

.slideWell .slideSnapshot .badge:before {
	counter-increment: slideSnapshot;
	content: counter(slideSnapshot);
}

.slideWell .ui-sortable-helper {
	left: 13px;
}

.slideEditor .slideWellSwitch{
	position:absolute;
	top:53px;
    left:135px;
	z-index: 2;
}

.slideWell {
	overflow: auto;
	border-right: 1px solid black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-x: hidden;
}

body {
	counter-reset: slideSnapshot;
}
