.footer {
	text-align: center;
    margin-top: 5px;
    padding-top: 10px;
    color: #CCC;
    border-top: solid 1px #ddd;
    background-image: -webkit-linear-gradient(top, #494852, #2A2A30);
    font-weight: bold;
}
